aiogram~=3.6.0
aiohttp
magic-filter==1.0.12
pydantic~=2.7.4
python-dotenv==0.21.1
sqlalchemy~=2.0.41
pydantic-settings
aiosqlite
holidays~=0.75
APScheduler~=3.11.0
pytest~=8.4.1
workalendar~=17.0.0
sentry-sdk