aiofiles==23.2.1
aiogram==3.6.0
aiogram-datepicker==0.0.8
aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
APScheduler==3.11.0
attrs==25.3.0
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
convertdate==2.4.0
coverage==7.9.1
docker==7.1.0
emoji==2.14.1
faiss-cpu==1.11.0.post1
filelock==3.18.0
flake8==7.3.0
frozenlist==1.7.0
fsspec==2025.5.1
greenlet==3.2.3
holidays==0.76
huggingface-hub==0.33.4
idna==3.10
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
joblib==1.5.1
lunardate==0.2.2
lxml==6.0.0
magic-filter==1.0.12
MarkupSafe==3.0.2
mccabe==0.7.0
mpmath==1.3.0
multidict==6.6.0
mypy==1.16.1
mypy_extensions==1.1.0
networkx==3.5
numpy==2.3.1
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
pluggy==1.6.0
propcache==0.3.2
pycodestyle==2.14.0
pydantic==2.7.4
pydantic-settings==2.10.1
pydantic_core==2.18.4
pyflakes==3.4.0
Pygments==2.19.2
pyluach==2.2.0
PyMeeus==0.5.12
pytest==8.4.1
pytest-asyncio==1.0.0
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
pywin32==311
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
sentence-transformers==5.0.0
sentry-sdk==2.32.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.41
sympy==1.14.0
telegram==0.0.1
threadpoolctl==3.6.0
tokenizers==0.21.2
torch==2.7.1
tqdm==4.67.1
transformers==4.53.2
types-workalendar==17.0.0.20250602
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
workalendar==17.0.0
yarl==1.20.1
